<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Computação em Nuvem I
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Amazon Web Services;</li>
  <li>AWS IAM;</li>
  <li>AWS S3;</li>
  <li>AWS Athena.</li>
</ol>

---

# **Exercícios**

## 1\. Amazon Web Services

 1. Crie uma conta na [AWS](https://portal.aws.amazon.com/);
 1. Acesse a sua conta e selecione a região mais próxima da sua residência.

## 2\. AWS S3

Replique as atividades do item 3.3 em sua conta.

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
data = sns.load_dataset('car_crashes')
data.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [3]:
data.to_csv('car_crashes.csv', index=False, header=False)

## 3\. AWS Athena

Replique as atividades do item 4.3 em sua conta.

```
CREATE EXTERNAL TABLE iris (
  sepal_length double, 
  sepal_width double, 
  petal_length double, 
  petal_width double, 
  specie string
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde' 
WITH SERDEPROPERTIES ('separatorChar'=',') 
LOCATION 's3://modulo38yure/'
```

SELECT * FROM iris LIMIT 10;


```
SELECT 
    specie, 
    round(avg(sepal_length), 4) as avg_sepal_length,
    round(avg(sepal_width),  4) as avg_sepal_width,
    round(avg(petal_length), 4) as avg_petal_length,
    round(avg(petal_width),  4) as avg_petal_width
FROM iris
GROUP BY specie;
```